div#friendList
	div#fList
		div.friend
			div.friend_pic
			div.friend_name admin
	div#fOnOff ›
div#index_main
	div#index_msg.msg
	div.clear
	div#index_send.msg
		div#to
			span
				b To: &nbsp;
		div#fenge
		textarea#msg_textarea
		div#send_notice 按Ctrl+Enter发送