/**
 +------------------------------------------------------------------------------
 * Author zhpengle
 +------------------------------------------------------------------------------
 * style.css
 * 
 +------------------------------------------------------------------------------
 */
 
 *{
	padding:0;
	margin:0;
 }
 body{
	font-size:14px;
 }